/*Основной шрифт и фоны*/

html,
body {
	margin: 0;
	padding: 0;
	font-family: "Goudy Old Style", serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #5c5b5f;
	background: #e6bf9a url("../img/background.png") no-repeat top;
}

body {
	padding-top: 50px;
}

.portfolio {
	background: transparent url("../img/background-inner.png") no-repeat center;
}

/*Логотип и интро*/

.container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 980px;
	min-height: 484px;
	margin: 0 auto;
	/*background: transparent url("../img/background-paper-1.png") no-repeat top;*/
}

.logo {
	width: 820px;
	max-height: 110px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 40px 80px 20px 80px;
	padding-top: 2px;
	padding-bottom: 0;
	border-top: 1px solid #232227;
	border-bottom: 1px solid #232227;
}

.logo h1 {
	margin: 0;
	padding-top: 25px;
	padding-bottom: 23px;
	text-align: center;
	font-family: "PT Sans Caption", "Arial", sans-serif;
	font-size: 40px;
	font-weight: 700;
	line-height: 50px;
	color: #232227;
	text-transform: uppercase;
	letter-spacing: 5px;
	border-top: 3px solid #232227;
	border-bottom: 3px solid #232227;
}

.container img {
	width: 410px;
	height: 261px;
	margin-left: 80px;
	opacity: 0.8;
}

.container img:hover {
	opacity: 1;
}

.intro {
	width: 340px;
	margin-right: 80px;
}

.intro h2 {
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	font-family: "PT Sans Caption", "Arial", sans-serif;
	font-size: 32px;
	font-weight: 700;
	line-height: 36px;
	color: #232227;
	text-transform: uppercase;
}

.intro b {
	display: block;
	margin: 0;
	padding: 0;
	font-family: "PT Sans Caption", "Arial", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 18px;
	color: #c45f5f;
	text-transform: uppercase; 
}

/*Проекты*/

.projects {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 980px;
	min-height: 469px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0 auto;
	padding: 50px 0;
	padding-bottom: 0;
	/*background: transparent url("../img/background-paper-2.png") no-repeat top;
	background-position-y: -1px;
	background-position-x: 8px;*/
}

.project {
	position: relative;
	width: 470px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.project-sedona {
	padding-left: 280px;
}

.project-technomart {
	padding-left: 240px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.project-sedona a:first-of-type {
	position: absolute;
	top: 0;
	left: 80px;
	width: 180px;
	height: 324px;
}

.project-technomart a:first-of-type {
	position: absolute;
	top: 0;
	left: 40px;
	width: 180px;
	height: 326px;
}

.project a:first-of-type {
	border-top: 3px solid #232227;
	border-bottom: 3px solid #232227;
	opacity: 0.8;
}

.project a:first-of-type:hover {
	opacity: 1;
}

.project a:first-of-type:active {
	opacity: 0.9;
}

.projects h3,
.about h2 {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-family: "PT Sans Caption", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	color: #232227;
	text-transform: uppercase;
}

.project p {
	display: block;
	margin: 0;
	margin-bottom: 15px;
	padding: 0;
	width: 195px;
}

.project-link {
	display: block;
	padding-bottom: 0;
	margin-bottom: 0;
	font-style: italic;
	font-weight: 700;
	color: #c45f5f;
}

.project-link:hover {
	color: #c22424;
}

.project-link:active {
	color: #9cd3e2;
}

.projects::after {
	position: absolute;
	top: 430px;
	left: 80px;
	content: "";
	width: 846px;
	height: 6px;
	background: url(../img/sprite-portfolio.png);
	background-position: -50px -50px;
}

/*Обо мне*/

.about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 980px;
	min-height: 454px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0 auto;
	margin-top: -1px;
	padding-left: 95px;
	padding-right: 80px;
	/*background: transparent url("../img/background-paper-3.png") no-repeat top;
	background-position-y: -1px;
	background-position-x: 7px;*/
}

.about h2 {
	width: inherit;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
	padding-top: 30px;
}

.about ul {
	margin: 0;
	padding: 0;
}

.skills {
	width: 550px;
}

.skills a {
	text-decoration: none;
	font-style: italic;
	font-weight: 700;
	color: #c45f5f;
}

.skills a:hover {
	color: #c22424;
}

.skills a:active {
	color: #c24949;
}

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 230px;
	list-style: none;
}

.social a {
	display: block;
	width: 38px;
	height: 38px;
	margin: 0;
	padding: 0;
	font-size: 0;
	background: rgba(100, 100, 100, 0.5) url("../img/sprite-portfolio.png") no-repeat center;
}

.social a:hover {
	background-color: rgba(194, 36, 36, 0.5);
}

.social a:active {
	background-color: rgba(80, 198, 227, 0.5);
}

.social .social-gmail {
	background-position: -264px -144px;
}

.social .social-fb {
	background-position: -35px -145px;
}

.social .social-vk {
	background-position: -499px -143px;
}

.social .social-tw {
	background-position: -382px -144px;
}

.social .social-git {
	background-position: -147px -145px;
}

/*Футер*/ 

.footer {
	position: relative;
	width: 980px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0 auto;
	padding: 0;
}

.footer .go-to-top {
	position: absolute;
	top: -5px;
	left: 417px;
	width: 132px;
	height: 74px;
	padding-top: 16px;
	text-align: center;
	font-family: "PT Sans Caption", "Arial", sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height: 14px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	background: url("../img/ribbon.png") no-repeat top;
}

.footer .copyright {
	margin: 0;
	margin-left: 80px;
	padding: 35px 0;
}

.copyright p {
	display: block;
	margin: 0;
	padding: 0;
}

.copyright p:first-of-type {
	font-family: "PT Sans Caption", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
}
 
.copyright p:last-of-type {
	font-style: italic;
}

.copyright a {
	text-decoration: none;
	font-weight: 700;
	color: #c45f5f;
}

.copyright a:hover {
	color: #c22424;
}

.copyright a:active {
	color: #9cd3e2;
}

/*Дополнительный абзац с кнопками*/

.test {
	display: flex;
	flex-wrap: wrap;
	width: 980px;
	margin: 0 auto;
}

.test p {
	width: 980px;
}